@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Microsoft Way<br />
    Redmond, JinKe Road 1000<br />
    <abbr title="Phone">Phones:</abbr>
    <p>Alvin, Eva, Jocelyn, Hongshuang</p>
</address>

<address>
    <strong>Support: Alvin</strong>   <a href="yue327305210@163.com">yue327305210@163.com</a><br />
</address>