@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-10">
                <label>Symbol: </label>
                <input name="symbol" id="symbol" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <label>Date: </label>
                <input name="date" id="date" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <label>Start Time: </label>
                <input name="start" id="start" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <label>End Time: </label>
                <input name="end" id="end" />
            </div>
        </div>
    </div>
    <input type="button" id="searchLink" class="btn btn-primary btn-lg" value="Search" />
        <p>
            @*<a href="" class="btn btn-primary btn-lg" id="searchLink">Learn more &raquo;</a></p>*@
            <script type="text/javascript" src="~/Scripts/jquery-1.10.2.js"></script>
            <script type="text/javascript">
                $("#searchLink").on("click", function () {
                    var symbol = $("#symbol").val();
                    var date = $("#date").val();
                    var start = $("#start").val();
                    var end = $("#end").val();
                    var linkstring = "../stocks?symbol=" + symbol + "&date=" + date + "&start=" + start + "&end=" + end;
                    window.location.href = linkstring;
                });
            </script>
    </div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>