@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Go K Chart</h1>
    <br />
    <p class="lead">The graphic states can be divided into reverse form, finishing form and trend line. After K Tuing its delicate original standard painting is introduced into the stock market and futures market. The stock market and futures market in the K-line diagram contains four data, namely the opening price, high price, low price, closing price, all k is around the four data, reflecting the trend of the situation and price information. If the daily K line chart on a piece of paper, you can get the K line chart, also can draw the week K line chart, month K line chart.</p>
    <img src="~/Content/Images/kchart-demo.png" alt="K Chart Demo" style="width: 750px; height: 450px; margin:0 auto"/>        
            <a href="../candlestick/index" class="btn btn-primary btn-lg" id="searchLink" style="margin-left: 20px">K Chart Analysis &raquo;</a>
    </div>

<div class="row">
    <div class="col-md-4">
        <h2>Go Stock DataSet</h2>
        <p class="lead">
            Stock DataSet is pure data list of stocks, we show all the properties of stock for you!
        </p>
        <p><a class="btn btn-primary btn-lg" id="tablePage" href="../Stocks/Index">Stocks Data Showing &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>