@{
    ViewBag.Title = "Pure Data Page";
}

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/laydate.dev.js"></script>
<script src="~/Scripts/tablesorter.js"></script>
<div style="margin-top: 40px; float: left">
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-10">
                <label>Symbol:</label><br>
                <input name="symbol" id="symbol" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <label>Start Date&Time:</label><br>
                <input name="startDT" id="startDT" />
            </div>
            <script type="text/javascript">
                laydate({
                    elem: '#startDT',
                    min: '2016-01-04 00:00:00',
                    max: '2016-03-24 00:00:00',
                    istime: true,
                    format: 'YYYY-MM-DD hh:mm'
                });
            </script>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <label>End Date&Time:</label><br>
                <input name="endDT" id="endDT" />
            </div>
            <script type="text/javascript">
                laydate({
                    elem: '#endDT',
                    min: '2016-01-04 00:00:00',
                    max: '2016-03-24 00:00:00',
                    istime: true,
                    format: 'YYYY-MM-DD hh:mm'
                });
            </script>
        </div>
    </div>
    <input type="button" id="search" class="btn btn-primary btn-lg" value="Search" />
    <div id="detailContent" style="width: 260px; padding: 5px; border-color: dodgerblue; border:dashed; margin-top: 20px">
    </div>
</div>
<div id="stocksList" style="width: 800px; height: auto; margin-left: auto; margin-right: 0; margin-top: 20px">
    <script type="text/javascript">
        var iSymbol = "a";
        var iStartDateTime = "20160104930";
        var iEndDateTime = "201602051000";


        var listStocks = function () {
            //clear the origin data before show search result
            $("#stocksList").empty();
            var tableHead = $("<table id=\"stocks\", class=\"table\">" +
                    "<tr>" +
                        "<th>ID</th>" +
                        "<th>Symbol</th>" +
                        "<th>Date</th>" +
                        "<th>Time</th>" +
                        "<th>Open</th>" +
                        "<th>High</th>" +
                        "<th>Low</th>" +
                        "<th>Close</th>" +
                        "<th>Volume</th>" +
                        "<th>Split Factor</th>" +
                    "</tr>");
            tableHead.appendTo($("#stocksList"));
            $.ajax({
                type: "GET",
                url: "/Stocks/GetResult",
                data: {
                    symbol: iSymbol,
                    startDateTime: iStartDateTime,
                    endDateTime: iEndDateTime
                },
                cache: false,
                success: function (data) {
                    var tableEnd = $("</table>");
                    $.each(data, function (key, value) {
                        var id = value.ID;
                        var symbol = value.Symbol;
                        var date = value.Date;
                        var time = value.Time;
                        var open = value.Open;
                        var high = value.High;
                        var low = value.Low;
                        var close = value.Close;
                        var volume = value.Volume;
                        var splitFactor = value.SplitFactor;

                        var oneRow = $(
                                "<tr>" +
                                    "<td>" + id + "</td>" +
                                    "<td align=\"center\">" + symbol + "</td>" +
                                    "<td>" + date + "</td>" +
                                    "<td>" + time + "</td>" +
                                    "<td>" + open + "</td>" +
                                    "<td>" + high + "</td>" +
                                    "<td>" + low + "</td>" +
                                    "<td>" + close + "</td>" +
                                    "<td>" + volume + "</td>" +
                                    "<td align=\"center\">" + splitFactor + "</td>" +
                                "</tr>");
                        oneRow.appendTo(tableHead);
                    });
                    tableEnd.appendTo(tableHead);
                }
            });
        }

        var showDetail = function () {
            $("#detailContent").empty();

            $.ajax({
                type: "GET",
                url: "/Stocks/GetDetail",
                data: {
                    symbol: iSymbol
                },
                cache: false,
                success: function (data) {
                    var oneRow = $(
                            "<p>" +
                            "<strong>ID</strong> is: " + data.ID + "</br>" +
                            "<strong>EXP</strong> is: " + data.EXP + "</br>" +
                            "<strong>Symbol</strong> is: " + data.Symbol + "</br>" +
                            "<strong>Name</strong> is: " + data.Name + "</br>" +
                            "<strong>LastSale</strong> is: " + data.LastSale + "</br>" +
                            "<strong>MarketCap</strong> is: " + data.MarketCap + "</br>" +
                            "<strong>IPOyear</strong> is: " + data.IPOyear + "</br>" +
                            "<strong>Sector</strong> is: " + data.Sector + "</br>" +
                            "<strong>Industry</strong> is: " + data.Industry + "</br>" +
                            "<strong>Summary Quote</strong> is: " + data.SummaryQuote + "</p>");
                    oneRow.appendTo($("#detailContent"));
                }          
            });
        }

        window.onload = function () {
            new TableSorter("stocks");
        }

        $("#search").on("click", function () {
            iSymbol = $("#symbol").val();
            
            var startDTStr = $("#startDT").val();
            var startDate = startDTStr.substr(0, 10);
            var startDateArr = startDate.split('-');
            var startTime = new String();
            if (startDTStr.substr(11, 1) == "0") {
                startTime = startDTStr.substr(12);
            }
            else {
                startTime = startDTStr.substr(11);
            }
            var startTimeArr = startTime.split(':');
            iStartDateTime = startDateArr[0] + startDateArr[1] + startDateArr[2] + startTime[0] + startTime[1];

            var endDTStr = $("#endDT").val();
            var endDate = endDTStr.substr(0, 10);
            var endDateArr = endDate.split('-');
            var endTime = new String();
            if (endDTStr.substr(11, 1) == "0") {
                endTime = endDTStr.substr(12);
            }
            else {
                endTime = endDTStr.substr(11);
            }
            var endTimeArr = endTime.split(':');
            iEndDateTime = endDateArr[0] + endDateArr[1] + endDateArr[2] + endTimeArr[0] + endTimeArr[1];

            listStocks();
            showDetail();
        });
        listStocks();
        showDetail();
    </script>
</div>