@{
    ViewBag.Title = "Pure Data Page";
}

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/laydate.dev.js"></script>
<link href="~/Content/demo_page.css" rel="stylesheet" />
<link href="~/Content/demo_table.css" rel="stylesheet" />
<script type="text/javascript" language="javascript" src="~/Scripts/jquery.dataTables.js"></script>

<script type="text/javascript" charset="utf-8">
			
</script>
<div style="min-height:680px; width:100%;">
    <div style="margin-top: 40px; float: left">
        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-md-10">
                    <label>Symbol: </label>
                    <input name="symbol" id="symbol" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <label>Date: </label><br />
                    <input name="date" id="date" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <label>Start Time: </label>
                    <input name="start" id="start" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <label>End Time: </label>
                    <input name="end" id="end" />
                </div>
            </div>
        </div>
        <input type="button" id="search" class="btn btn-primary btn-lg" value="Search" />
        <div id="detailContent" style="width: 260px; padding: 5px; border-color: dodgerblue; border:dashed; margin-top: 20px">
        </div>
    </div>
    <div id="stocksList" style="width: 800px; height: auto; float:right; margin-top: 40px">
        
    </div>
    </div>
    <script type="text/javascript">
        var iSymbol = "aapl";
        var iDate = 20160104;
        var iStart = 930;
        var iEnd = 1000;

        var listStocks = function () {
            $("#stocksList").empty();
            var tableContent = $("<tbody></tbody>");
            var table = $("<table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" class=\"display\" id=\"example\"></table>");
            $.ajax({
                type: "GET",
                url: "/Stocks/GetResult",
                data: {
                    symbol: iSymbol,
                    date: iDate,
                    start: iStart,
                    end: iEnd
                },
                async:false,
                cache: false,
                success: function (data) {
                    $.each(data, function (key, value) {
                        var id = value.ID;
                        var symbol = value.Symbol;
                        var date = value.Date;
                        var time = value.Time;
                        var open = value.Open;
                        var high = value.High;
                        var low = value.Low;
                        var close = value.Close;
                        var volume = value.Volume;
                        var splitFactor = value.SplitFactor;

                        if (key % 2 == 0) {
                            var oneRow = $(
                                    "<tr class=\"even gradeA\">" +
                                        "<td class=\"center\">" + symbol + "</td>" +
                                        "<td class=\"center\">" + date + "</td>" +
                                        "<td class=\"center\">" + time + "</td>" +
                                        "<td class=\"center\">" + open + "</td>" +
                                        "<td class=\"center\">" + high + "</td>" +
                                        "<td class=\"center\">" + low + "</td>" +
                                        "<td class=\"center\">" + close + "</td>" +
                                        "<td class=\"center\">" + volume + "</td>" +
                                        "<td class=\"center\">" + splitFactor + "</td>" +
                                    "</tr>");
                            oneRow.appendTo(tableContent);
                        } else {
                            var oneRow = $(
                                    "<tr class=\"odd gradeA\">" +
                                        "<td class=\"center\">" + symbol + "</td>" +
                                        "<td class=\"center\">" + date + "</td>" +
                                        "<td class=\"center\">" + time + "</td>" +
                                        "<td class=\"center\">" + open + "</td>" +
                                        "<td class=\"center\">" + high + "</td>" +
                                        "<td class=\"center\">" + low + "</td>" +
                                        "<td class=\"center\">" + close + "</td>" +
                                        "<td class=\"center\">" + volume + "</td>" +
                                        "<td class=\"center\">" + splitFactor + "</td>" +
                                    "</tr>");
                            oneRow.appendTo(tableContent);
                        }
                    });
                }
            });
            var tableHead = $("<thead><tr><th>Symbol</th><th>Date</th><th>Time</th><th>Open</th><th>High</th><th>Low</th><th>Close</th><th>Volume</th><th>SplitFactor</th></tr></thead>");
            tableHead.appendTo(table);
            tableContent.appendTo(table);
            //$('#example').dataTable();
            
            //table.dataTable();
            table.appendTo($("#stocksList"));
            $('#example').dataTable({
                iDisplayLength: 20
            });
        }

        var showDetail = function () {
            $("#detailContent").empty();

            $.ajax({
                type: "GET",
                url: "/Stocks/GetDetail",
                data: {
                    symbol: iSymbol
                },
                cache: false,
                success: function (data) {
                    var oneRow = $(
                            "<p>" +
                            "<strong>ID</strong> is: " + data.ID + "</br>" +
                            "<strong>EXP</strong> is: " + data.EXP + "</br>" +
                            "<strong>Symbol</strong> is: " + data.Symbol + "</br>" +
                            "<strong>Name</strong> is: " + data.Name + "</br>" +
                            "<strong>LastSale</strong> is: " + data.LastSale + "</br>" +
                            "<strong>MarketCap</strong> is: " + data.MarketCap + "</br>" +
                            "<strong>IPOyear</strong> is: " + data.IPOyear + "</br>" +
                            "<strong>Sector</strong> is: " + data.Sector + "</br>" +
                            "<strong>Industry</strong> is: " + data.Industry + "</br>" +
                            "<strong>Summary Quote</strong> is: " + data.SummaryQuote + "</p>");
                    oneRow.appendTo($("#detailContent"));
                }
            });
        }

        $("#search").on("click", function () {
            iSymbol = $("#symbol").val();
            var date = $("#date").val();
            var dateArr = date.split('-');
            iDate = dateArr[0] + dateArr[1] + dateArr[2];
            iStart = $("#start").val();
            iEnd = $("#end").val();
            listStocks();
            showDetail();
        });
        listStocks();
        showDetail();

        laydate({
            elem: '#date',
            min: '2016-01-04 00:00:00',
            max: '2016-03-24 00:00:00'
        });
    </script>