@{
    ViewBag.Title = "Pure Data Page";
}

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/laydate.dev.js"></script>
<div style="margin-top: 40px; float: left">
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-10">
                <label>Symbol: </label>
                <input name="symbol" id="symbol" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <label>Date: </label>
                <input name="date" id="date" />
            </div>
            <script type="text/javascript">
                laydate({
                    elem: '#date',
                    min: '2016-01-04 00:00:00',
                    max: '2016-03-24 00:00:00'
                })
            </script>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <label>Start Time: </label>
                <input name="start" id="start" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <label>End Time: </label>
                <input name="end" id="end" />
            </div>
        </div>
    </div>
    <input type="button" id="search" class="btn btn-primary btn-lg" value="Search" />
</div>
<div id="stocksList" style="width: 850px; height: auto; margin-left: auto; margin-right: 0; margin-top: 20px">
    <script type="text/javascript">
        var iSymbol = "a";
        var iDate = 20160104;
        var iStart = 930;
        var iEnd = 1000;
        
        var listStocks = function () {
            //clear the origin data before show search result
            $("#stocksList").empty();

            var tableHead = $("<table id=\"stocks\", class=\"table\">");
            tableHead.appendTo($("#stocksList"));
            $.ajax({
                type: "GET",
                url: "/Stocks/GetResult",
                data: {
                    symbol: iSymbol,
                    date: iDate,
                    start: iStart,
                    end: iEnd
                },
                cache: false,
                success: function (data) {
                    
                    var tableTitle = $(
                        "<tr>" +
                            "<th>ID</th>" +
                            "<th>Symbol</th>" +
                            "<th>Date</th>" +
                            "<th>Time</th>" +
                            "<th>Open</th>" +
                            "<th>High</th>" +
                            "<th>Low</th>" +
                            "<th>Close</th>" +
                            "<th>Volume</th>" +
                            "<th>SplitFactor</th>" +
                        "</tr>");
                    tableTitle.appendTo(tableHead);

                    var tableEnd = $("</table>");
                    $.each(data, function (key, value) {
                        var id = value.ID;
                        var symbol = value.Symbol;
                        var date = value.Date;
                        var time = value.Time;
                        var open = value.Open;
                        var high = value.High;
                        var low = value.Low;
                        var close = value.Close;
                        var volume = value.Volume;
                        var splitFactor = value.SplitFactor;

                        var oneRow = $(
                                "<tr>" +
                                    "<td>" + id + "</td>" +
                                    "<td>" + symbol + "</td>" +
                                    "<td>" + date + "</td>" +
                                    "<td>" + time + "</td>" +
                                    "<td>" + open + "</td>" +
                                    "<td>" + high + "</td>" +
                                    "<td>" + low + "</td>" +
                                    "<td>" + close + "</td>" +
                                    "<td>" + volume + "</td>" +
                                    "<td>" + splitFactor + "</td>" +
                                "</tr>");
                        oneRow.appendTo(tableHead);
                    });
                    tableEnd.appendTo(tableHead);
                }
            });
        }
            
        $("#search").on("click", function () {
            iSymbol = $("#symbol").val();
            var date = $("#date").val();
            var dateArr = date.split('-');
            iDate = dateArr[0] + dateArr[1] + dateArr[2];
            iStart = $("#start").val();
            iEnd = $("#end").val();
            listStocks();
        });
        listStocks();
    </script>
</div>
