@{
    ViewBag.Title = "Pie Chart";
}

<script src="~/Scripts/1-6-10.esl.js"></script>
<script src="~/Scripts/echarts.js"></script>
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/laydate.dev.js"></script> 
<div style="margin-top: 40px; float: left">
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-10">
                <label>Date&Time:</label><br>
                <input name="dateTime" id="dateTime" />
            </div>
        </div>
    </div>
    <input type="button" id="search" class="btn btn-primary btn-lg" value="Search" />
</div>
<div id="main" style="height:500px; width:750px; margin-left: auto; margin-right: 20px; margin-top: 40px"></div>
<script type="text/javascript">
    var iDateTime = "20160104930";
        var makePieChart = function () {
            var formatTime;
            if (iDateTime.toString().length == 11) {
                formatTime = iDateTime.substring(8, 9) + ":" + iDateTime.substring(9);
            } else {
                formatTime = iDateTime.substring(8, 10) + ":" + iDateTime.substring(10);
            }
            $.ajax({
                type: 'GET',
                url: "/Piechart/GetCharts",
                data: {
                    dateTime: iDateTime
                },
                cache: false,
                success: function (data) {
                    var result = new Array();
                    var names = new Array();
                    $.each(data, function (key, val) {
                        result.push({ value: val.Volume, name: val.Symbol });
                        names.push(val.Symbol);
                        require.config({
                            paths: {
                                'echarts': 'echarts',
                                'echarts/chart/pie': 'echarts'
                            }
                        });
                        require(
                            [
                                'echarts',
                                'echarts/chart/pie'
                            ],
                            function (ec) {
                                var myChart = ec.init(document.getElementById('main'));
                                var option = {
                                    title: {
                                        text: iDateTime.substring(0,4) + "/" + iDateTime.substring(4,6) + "/" + iDateTime.substring(6, 8) + " " + formatTime,
                                        subtext: formatTime,
                                        x: 'center'
                                    },
                                    tooltip: {
                                        trigger: 'item',
                                        formatter: "{a} <br/>{b} : {c} ({d}%)"
                                    },
                                    legend: {
                                        orient: 'vertical',
                                        x: 'left',
                                        data: names
                                    },
                                    toolbox: {
                                        show: true,
                                        feature: {
                                            mark: { show: true },
                                            dataView: { show: true, readOnly: false },
                                            restore: { show: true },
                                            saveAsImage: { show: true }
                                        }
                                    },
                                    calculable: true,
                                    series: [
                                            {
                                                name: 'volume',
                                                type: 'pie',
                                                radius: '55%',
                                                center: ['50%', '60%'],
                                                data: result
                                            }
                                    ]
                                };
                                myChart.setOption(option);
                            }
                    );
                    })
                }
            });
        }
        makePieChart();
        $("#search").on("click", function () {
            var date = $("#dateTime").val().substring(0, 10);
            var time = new String();
            if($("#dateTime").val().substring(11) == "0"){
                time = $("#dateTime").val().substring(12);
            }
            else{
                time = $("#dateTime").val().substring(11);
            }
            var timeArr = time.split(':');
            var dateArr = date.split('-');
            iDateTime = dateArr[0] + dateArr[1] + dateArr[2] + timeArr[0] + timeArr[1];
            makePieChart();
        });

        laydate({
            elem: '#dateTime',
            min: '2016-01-04 00:00:00',
            max: '2016-03-24 00:00:00',
            istime: true,
            format: 'YYYY-MM-DD hh:mm'
        });
</script>
