
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="http://echarts.baidu.com/build/dist/echarts-all.js"></script>
</head>
<body>
    <div style="margin-top: 40px; float: left">
        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-md-10">
                    <label>Symbol: </label>
                    <input name="symbol" id="symbol" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <label>Date: </label>
                    <input name="date" id="date" />
                </div>
            </div>
        </div>
        <input type="button" id="search" class="btn btn-primary btn-lg" value="Search" />
    </div>

    <div id="myKChart" style="width: 850px; height: 550px; margin-left: auto; margin-right: 0; margin-top: 20px">
        <script type="text/javascript">
            var iSymbol = "aapl";
            var iDate = 20160104;
            var makeChart = function () {
                $.ajax({
                    type: "GET",
                    url: "/Candlestick/GetCharts",
                    data: {
                        symbol: iSymbol,
                        date: iDate
                    },
                    cache: false,
                    success: function (data) {
                        var stringDate = iDate.toString();
                        var iTitle = iSymbol + " " + stringDate.substring(0, 4) + "/" + stringDate.substring(4, 6) + "/" + stringDate.substring(6);
                        var xAxisArray = new Array();
                        var seriesArray = new Array();
                        $.each(data, function (key, value) {
                            var date = value.Date.toString();
                            var time = value.Time.toString();
                            var formatTime = date.substring(0, 4) + "/" + date.substring(4, 6) + "/" + date.substring(6) + " ";
                            if (time.length == 3) {
                                formatTime += (time.substring(0, 1) + ":" + time.substring(1));
                            } else {
                                formatTime += (time.substring(0, 2) + ":" + time.substring(2));
                            }
                            xAxisArray.push(formatTime);
                            seriesArray.push(new Array(value.Open, value.Close, value.Low, value.High));
                        });
                        var myChart = echarts.init(document.getElementById('myKChart'));
                        var options = {
                            title: {
                                text: iTitle
                            },
                            tooltip: {
                                trigger: 'axis',
                                formatter: function (params) {
                                    var res = params[0].seriesName + ' ' + params[0].name;
                                    res += '<br/>  Open : ' + params[0].value[0] + '  High : ' + params[0].value[3];
                                    res += '<br/>  Close : ' + params[0].value[1] + '  Low : ' + params[0].value[2];
                                    return res;
                                }
                            },
                            legend: {
                                data: ['SE']
                            },
                            toolbox: {
                                show: true,
                                feature: {
                                    mark: { show: true },
                                    dataZoom: { show: true },
                                    dataView: { show: true, readOnly: false },
                                    magicType: { show: true, type: ['line', 'bar'] },
                                    restore: { show: true },
                                    saveAsImage: { show: true }
                                }
                            },
                            dataZoom: {
                                show: true,
                                realtime: true,
                                start: 50,
                                end: 100
                            },
                            xAxis: [
                                {
                                    type: 'category',
                                    boundaryGap: true,
                                    axisTick: { onGap: false },
                                    splitLine: { show: false },
                                    data: xAxisArray
                                }
                            ],
                            yAxis: [
                                {
                                    type: 'value',
                                    scale: true,
                                    boundaryGap: [0.01, 0.01]
                                }
                            ],
                            series: [
                                {
                                    name: 'SE',
                                    type: 'k',
                                    data: seriesArray
                                }
                            ]
                        };
                        myChart.setOption(options);
                    }
                });
            }
            $("#search").on("click", function () {
                iSymbol = $("#symbol").val();
                iDate = $("#date").val();
                makeChart();
            });
            makeChart();
            
        </script>
    </div>
</body>
</html>
